@tailwind base;
@tailwind components;
@tailwind utilities;

.image-animate {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(20px) scale(1.03);
  }
}